@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background-color: #222222;
    --text-color: #c9c9c9;
}

body {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}